
  
  
    
<style>
    .container p {
      {% comment %} display: flex; {% endcomment %}
      {% comment %} justify-content: center;
      align-items: center; {% endcomment %}
      font-size: 50px;

    }
  </style>

<div class="container" >  
    <div class="row py-5 h5">
        <p>
            <br> 
            <br>
            <br>
            Reservation Successful !
            <br>
            <br>
            <br>

            
           
        </p>
    </div>







     <div class="py-3">
        &nbsp
    </div> 

</div>